<div class="container">

  <div *ngIf="pokemon" class="pokemon-card" [ngStyle]="{'--bg-color': getBackgroundColor(pokemon.types[0].type.name)}">
    
    <header class="pokemon-header">
      <img [src]="gift" alt="{{ pokemon.name }}" loading="lazy" class="pokemon-thumbnail">
      <h2 class="pokemon-title">Nº {{ pokemon.id }} - {{ pokemon.name }}</h2>
    </header>

    <main class="pokemon-main">

      <section class="pokemon-visuals">
        <figure class="pokemon-image">
          <img [src]="img" alt="{{ pokemon.name }}">
        </figure>
      </section>

      <section class="pokemon-info">

        <article class="pokemon-type">
          <p><strong>Tipo: </strong> <span *ngFor="let type of pokemon.types">{{ type.type.name }}</span></p>
        </article>

        <article class="basicos">
          <p style="margin-right: 20px;"><strong>Peso:</strong > {{ pokemon.weight / 10 }} kg</p>
          <p><strong>Altura:</strong> {{ pokemon.height / 10 }} m</p>
        </article>

        <article class="habilidades">
          <p><strong>Habilidades:</strong> 
            <span *ngFor="let ability of pokemon.abilities; let i = index">
              {{ ability.ability.name }}<span *ngIf="i < pokemon.abilities.length - 1">, </span>
            </span>
          </p>
        </article>        

        <article class="estadisticas">
          <p><strong>Estadísticas:</strong></p><br>
          <ul>
            <li *ngFor="let stat of pokemon.stats">{{ stat.stat.name }}: {{ stat.base_stat }}</li>
          </ul>
        </article>

      </section>
    </main>
  </div>
</div>
