html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, #e3f2fd, #bbdefb);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  max-height: 1000px;
  margin: 0 auto;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  width: 600px;
  padding: 20px;
  background: var(--bg-color, #ffffff);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  justify-content: center;

}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.pokemon-thumbnail img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.pokemon-header h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Contraste con el fondo dinámico */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.pokemon-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.basicos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pokemon-image img {
  width: 200px;
  height: 200px; 
}

.pokemon-info {
  width: 100%;
}

.pokemon-info article {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.pokemon-info article:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.pokemon-info article:nth-child(odd) {
  background: rgba(255, 255, 255, 0.3);
}

.pokemon-info p {
  font-size: 1rem;
  margin: 0;
}

.pokemon-info strong {
  font-size: 1.1rem;
}

.estadisticas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.estadisticas li {
  background: rgba(255, 255, 255, 0.3); 
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff; 
  text-align: left;
}

.estadisticas li:hover {
  background: rgba(255, 255, 255, 0.6); 
  transform: scale(1.05);
  transition: 0.2s ease;
  font-weight: bold;
  color: black;

}

.pokemon-card footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
