<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div>
    <div id ="desarrolladora">
      <h3>Desarrolladora</h3>

      <p><strong>Nombre:</strong> María Guillén Mateos</p><br><br>
      <p><strong>Email:</strong> mariaguillen&#64;gmail.com</p><br><br>
      <p><strong>GitHub:</strong> mariiaguillen04</p><br><br>
    </div>

    <div id="proyecto">
      <h3>Descripción del proyecto</h3>

      <p>Es un proyecto basado en Angular como herramienta para generar el <br>
        frontend, que a su vez consume la API de Pokemon, de la que <br>
        obtiene su funcionalidad.
        Es una aplicación que permite a los usuarios buscar y <br>
         acceder a los detalles de cada Pokemon.
      </p>
    </div>

    <div id="feedback">
      <h3>Feedback del proyecto</h3>
      <p>Este proyecto ha sido una experiencia increíble y gratificante para mí. Me permitió integrar y utilizar <br>
      mis conocimientos en Angular y la API de Pokémon para crear una aplicación interactiva y visualmente <br>
      atractiva. La capacidad de obtener datos en tiempo real y presentar información detallada sobre cada <br>
      Pokémon ha sido un desafío emocionante y educativo. Estoy especialmente orgullosa de cómo he logrado <br>
      estilizar las cartas de Pokémon para que reflejen los tipos de cada uno y añadir elementos dinámicos como <br>
      las imágenes GIF animadas. Este proyecto no solo muestra mis habilidades técnicas, sino también mi <br>
      dedicación y pasión por la programación y el diseño de interfaces de usuario. Espero que disfruten <br>
      explorando la aplicación tanto como yo disfruté desarrollándola.</p>
    </div>
