
footer {
    background: linear-gradient(90deg, #C62828, #D32F2F); 
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}



footer h2, footer h3 {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}


