<footer>
    <h2>Sobre el proyecto</h2>
    <div>

      <div id ="desarrolladora">
        <h3>Desarrolladora</h3>

        <p><strong>Nombre:</strong> María Guillén Mateos</p><br><br>
        <p><strong>Email:</strong> mariaguillen&#64;gmail.com</p><br><br>
        <p><strong>GitHub:</strong> mariiaguillen04</p><br><br>
      </div>

      <div id="proyecto">
        <h3>Descripción del proyecto</h3>

        <p>Es un proyecto basado en Angular como herramienta para generar el <br>
          frontend, que a su vez consume la API de Pokemon, de la que <br>
          obtiene su funcionalidad.
          Es una aplicación que permite a los usuarios buscar y <br>
           acceder a los detalles de cada Pokemon.
        </p>
      </div>

      <div id="feedback">
        <h3>Feedback del proyecto</h3>
      </div>
    </div>
  </footer>
